<h1>User lists</h1>

<table border="1">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>cover_image</th>
    <th>skill_sheet</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= image_tag attachment_url(user.cover_image, :file, :fill, 150, 150, format: 'jpg') if user.cover_image.present? %></td>
      <td><%= link_to 'download', attachment_url(user.skill_sheet, :file) if user.skill_sheet.present? %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'new', action: :new %>