<h1>User lists</h1>

<table border="1">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>profile_image</th>
    <th>profile_image_size</th>
    <th>profile_image_content_type</th>
    <th>profile_image_filename</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= image_tag attachment_url(user, :profile_image, :fill, 150, 150, format: 'jpg') %></td>
      <td><%= user.profile_image_size %></td>
      <td><%= user.profile_image_content_type %></td>
      <td><%= user.profile_image_filename %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'new', action: :new %>